@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  main {
    @apply px-4 min-h-screen sm:px-0 space-y-16 w-full bg-gray-900;
    background: linear-gradient(
      300deg,
      rgb(28, 198, 255),
      rgb(184, 23, 199),
      rgb(24, 24, 218)
    );
    background-size: 180% 180%;
    animation: gradient-animation 25s ease infinite;
  }
}
